<div calss = "dictionary">


  <div class = "lists-dictionary">
  <div class = "list-dictionary">
  カテゴリー
  </div>
  <div class = "list-dictionary">
  投稿日時
  </div>
  <div class = "list-dictionary">
  タイトル
  </div>
  </div>

  <% @dictionaries.each do |dictionary| %>
    <div class = "upper-dictionary">
    <div class = "category-dictionary">
    <%= dictionary.category.name %>
    </div>
    <div class = "date-dictionary">
    <%= dictionary.created_at %>
    </div>
    <%= link_to dictionary.title, dictionary_path(dictionary.id), class: "title-dictionary" %>
  </div>
<% end %>
 
</div>