<div calss = "dictionary">
  <div class = upper-dictionary>
    <div class = "category-dictionary">
    HTML
    </div>
    <div class = "date-dictionary">
    2020/1/1
    </div>
    <%= link_to "よくわからないけん", "#", class: "title-dictioary" %>
  </div>


    <div class = upper-dictionary>
    <div class = "category-dictionary">
    Ruby
    </div>
    <div class = "date-dictionary">
    2020/1/3
    </div>
    <%= link_to "わからんけん", "#", class: "title-dictioary" %>
  </div>
</div>