<div calss = "dictionary">


  <div class = "lists-question">
  <div class = "list-question">
  カテゴリー
  </div>
  <div class = "list-question">
  投稿日時
  </div>
  <div class = "list-question">
  タイトル
  </div>
  </div>

  <% @questions.each do |question| %>
    <div class = "uppers-question">
    <div class = "upper-question">
    <%= question.category.name %>
    </div>
    <div class = "upper-question">
    <%= question.created_at %>
    </div>
    <%= link_to question.title, "#", class: "upper-questions" %>

  </div>
<% end %>
 
</div>