<div class = "addition">
    <%= link_to("#", class: 'purchase-btn') do %>
     <span class='purchase-btn-text'>辞書に追加</span>
     <%= image_tag 'book_fusen_yoko.png' , size: '0x150' ,class: "purchase-btn-icon" %>
   <% end%>

  <div class = "carender">
  実装予定(カレンダー)
  </div>

</div>

