<%= render "shared/header" %>

<div class = "wrapper">


    <div class = "main-bar">

      <div class = "search">
          <div class = "search-form">
          検索機能の実装
          </div>
      </div>

      <%= render "shared/main_bar" %>
    </div>

    <div class = "side-bar">
    <%= render "shared/side_bar" %>
    </div>
</div>
