.wrapper {
  display: flex;
  width: 100vw;
}



/*.side-bar{
  background-color: rgb(134, 200, 223);
  width: 300px;
  height: 100vh;
}

/*.addition {
  padding: 60px 0 60px 60px;
}*/

.purchase-btn {
  width: 200px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}


.carender {
  text-decoration: none;
  margin-top: 40px;
}

.main-bar {
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;

  overflow: scroll;  
}

.search {
  height: 40px;
  background-color: rgb(255, 255, 255);
}

.search-form {
  width: 120px;
  height: 20px;
  margin: auto;
}

.dictionary {
  margin-top: 10px;
}

.lists-dictionary {
  display: flex;
  justify-content: left;
}

.list-dictionary {
  padding: 30px 30px;
  font-size: 30px;
}

.uppers-dictionary {
  display: flex;
  justify-content: left;
}

.upper-dictionary {
  color: black;
  padding: 10px 30px;
  font-size: 20px;

}



/*ここからshowアクションのcss*/
.top-show {
  background-color: aliceblue;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.second-show{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-show {
  width: 600px;
  font-size: 30px;
 

  text-align: center;
  
}

.category-show{
  font-size: 30px;
  padding: auto;
  width: 500px;

  text-align: center;
  margin-top: 30px;
}

.text-show{
  font-size: 20px;
  height: 800px;
  width: 600px;
  border: solid black;
  margin-top: 30px;
  overflow: scroll;
}

.change-show {
  display: flex;
}

.edit-show {
  padding: 20px;
}

.delete-show {
  padding: 20px;
}