.wrapper {
  display: flex;
  width: 100vw;
}



/*.side-bar{
  background-color: rgb(134, 200, 223);
  width: 300px;
  height: 100vh;
}

/*.addition {
  padding: 60px 0 60px 60px;
}*/

.purchase-btn {
  width: 200px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}


.carender {
  text-decoration: none;
  margin-top: 40px;
}

.main-bar {
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;

  overflow: scroll;  
}

.search {
  width: 100%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  padding-left: 200px;
}

.search-form {
  width: 100%;
  height: 20px;
  margin: auto;
}

.dictionary {
  margin-top: 10px;
}

.lists-dictionary {
  display: flex;
  justify-content: left;
}

.list-dictionary {
  padding: 30px 30px;
  font-size: 30px;
}

.uppers-dictionary {
  display: flex;
  justify-content: left;
}

.upper-dictionary {
  color: black;
  padding: 10px 30px;
  font-size: 20px;
  width: 200px;

}

/*ここから質問表示*/

.lists-question {
  display: flex;
  justify-content: left;
}

.list-question {
  padding: 30px 60px 30px 150px;
  font-size: 30px;
}


.uppers-question {
  display: flex;
  justify-content: center;
}

.upper-question {
  color: black;
  padding: 10px 30px;
  font-size: 20px;
  width: 300px;
}

.upper-questions {
  color: black;
  padding: 10px 0 10px 100px;
  font-size: 20px;
  width: 400px;
}



.question-show {
  background-color: rgb(194, 221, 245);
  width: 100%;
}

.question-title {
  width: 100%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding-left: 300px;
}

.question-lists{
  display: flex;
  justify-content: left;
}

.question-list{
  padding: 30px 30px;
  font-size: 30px;
}

/*ここまで質問表示*/

/*ここから回答表示*/
.answer-title {
  font-size: 30px;
  margin-top: 30ox;
  margin-bottom: 30px;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer-text{
  margin-top: 40px;
  height: 200px;
  width: 400px;
  overflow: scroll;
}

.answer-btn {
  height: 50px;
  width: 100px;
  margin-top: 30px;
  margin-left: auto;
}

.answers-user {
  display: flex;
  flex-direction: column;
}

.answer-users {
  display: flex;
  margin-top: 20px;
}

.answer-user {
  font-size: 20px;
  margin-right: 20px;
  height: 60px;
  width: 40px;

}

.answer-texts{
  font-size: 15px;
  padding-left: 20px;
  height: 60;
  width: 400px;
  border: black solid;
}


/*ここまで回答表示*/

/*ここからshowアクションのcss*/
.top-show {
  background-color: aliceblue;
  display: flex;
  height: 130%;
  width: 100vw;
  justify-content: center;
}

.second-show{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-show {
  width: 600px;
  font-size: 30px;
 

  text-align: center;
  
}

.category-show{
  font-size: 30px;
  padding: auto;
  width: 500px;

  text-align: center;
  margin-top: 30px;
}

.text-show{
  font-size: 20px;
  height: 800px;
  width: 600px;
  border: solid black;
  margin-top: 30px;
  overflow: scroll;
}

.change-show {
  
}

.edit-show {
  padding: 20px;
}

.delete-show {
  padding: 20px;
}