.wrapper {
  display: flex;
}



.side-bar{
  background-color: rgb(134, 200, 223);
  width: 300px;
  height: 100vh;
}

.addition {
  padding: 60px 0 60px 60px;
}

.purchase-btn {
  width: 200px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}


.carender {
  text-decoration: none;
  margin-top: 40px;
}

.main-bar {
  background-color: aliceblue;
  width: calc(100vw - 300px);
  overflow: scroll;  
}

.search {
  height: 40px;
  background-color: rgb(255, 255, 255);
}

.search-form {
  width: 120px;
  height: 20px;
  margin: auto;
}

.dictionary {
  margin-top: 10px;
}

.lists-dictionary {
  display: flex;
}

.list-dictionary {
  padding: 30px 30px;
  font-size: 30px;
}

.upper-dictionary {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.date-dictionary {
  color: #999;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

.category-dictionary {
  color: black;
  font-size: 20px;
  padding-left: 60px;
}

.title-dictionary {
  color: black;
  font-size: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
}